body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  /* font-weight: 400; */
  overflow-x: hidden;
}
:root {
  --primary__color: #070120;
  --sercondary__color: #f55f8d;
  --white__color: #fff;
  --gradient--right: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );

  --box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.btn-gradient {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white__color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  max-width: 200px;
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 30px;
  background-image: var(--gradient--right);
  background-size: 200%;
  transition: 0.3s;
}
.btn-gradient:hover {
  background-position: right center;
}

/* start header */
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.menu-link {
  text-decoration: none;
  padding-right: 20px;
  color: var(--primary__color);
}

.menu-link span {
  display: inline-block;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  /* transform: translateY(100px); */
}

.menu-link:hover span {
  animation-name: itemMenu;
  animation-duration: 0.5s;
  color: #f55f8d;
}

.menu-link i {
  font-size: 12px;
}
/* end header */

/* start CAROUSEL */
.carousel {
  background-image: url(../img/pic2.png);
  background-size: contain;
  background-repeat: repeat;
  padding-top: 85px;
}

.carousel .container {
  display: flex;
  align-items: center;
}

.title p {
  color: var(--sercondary__color);
  font-weight: 600;
  font-size: 22px;
}

.title h2 {
  margin: 20px 0;
  padding: 0;
  color: var(--primary__color);
  font-weight: 800;
  font-size: 70px;
  text-transform: capitalize;
  /* max-width: 85%; */
  line-height: 70px;
}

.carousel__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.carousel__left .desc {
  max-width: 70%;
  font-weight: 400;
}

.content__menu {
  list-style: none;
  margin: 20px 0;
}

.content__menu-item {
  margin-bottom: 10px;
}
.content__menu-item span {
  font-weight: 400;
}

.content__menu-item i {
  padding: 5px 6px;
  background-image: var(--gradient--right);
  background-size: 200%;
  color: #fff;
  border-radius: 50%;
  line-height: 16px;
  margin-right: 10px;
}

.carousel__banner {
  width: 570px;
  transform: translateX(60px);
}
.carousel__right img {
  max-width: 100%;
}
/* end CAROUSEL */

/* start services */
.services {
  background-image: url(../img/bg2.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.services__tittle {
  text-align: center;
}

.services__card {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.card__item {
  width: 380px;
  height: 430px;
  padding: 30px 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  transition: 0.5s;
}

.card__item:hover {
  transform: translateY(-40px);
}

.card__item--img {
  max-width: 215px;
}

.card__item--title {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--primary__color);
}
/* end services */

/* start aboutUs */
.aboutUs {
  background-image: url(../img/bg15.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding: 30px;
}
.aboutUs .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__left {
  width: 50%;
  position: relative;
}
.aboutUs__right {
  width: 50%;
}
.aboutUs__bg {
  position: relative;
  width: 120%;
  left: -26%;
}
.aboutUs__bg::before {
  content: "";
  background-color: #f55f8c2d;
  border-radius: 0 100px 100px 0;
  transform: rotate(10deg);
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;

  width: 100%;
  height: 100%;
}
.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
  max-width: none;
  display: block;
  position: relative;
  /* left: -24%; */
}

.aboutUs .content__menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.aboutUs .content__menu-item i {
  background-image: none;
  font-size: 30px;
  line-height: 30px;
  color: var(--sercondary__color);
}

/* end aboutUS */

/* start number */
.numbers .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
  background-image: url(../img/bg14.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
}
.number__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number__item--icon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient--right);
  background-size: 200%;
  border-radius: 50%;
}
.number__item--icon i {
  font-size: 40px;
  color: #fff;
}

.number__item--num {
  font-weight: 800;
  font-size: 65px;
  color: var(--sercondary__color);
}

.number__item--title {
  color: var(--primary__color);
  font-size: 18px;
}

/* end number */

/* start features */
.features__container {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.features__left,
.features__right {
  width: 50%;
}
.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.features__content--item {
  width: 550px;
  height: 150px;
  margin-bottom: 30px;
  /* display: flex;
  align-items: center; */
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  position: relative;
  background-color: #fff;
  transition: 1s;
}

.features__content--item:nth-child(2) {
  position: relative;
  left: 50px;
}
.features__bg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
}
.features__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient--right);
  background-position: left;
  background-size: 200%;
  opacity: 0;
  transition: 0.7s;
  z-index: 0;
  border-radius: 10px;
}
.features__bg:hover::after {
  opacity: 1;
}

.item__icon i {
  font-size: 70px;
  color: var(--sercondary__color);
  margin-right: 30px;
  transition: 0.7s;
  position: relative;
  z-index: 1;
}

.item__text {
  position: relative;
  z-index: 1;
}
.item__text--title {
  font-weight: 800;
  font-size: 26px;
  color: var(--primary__color);
  transition: 0.7s;
}
.item__text--desc {
  color: #636363;
  transition: 0.7s;
}

.features__right img {
  animation-name: rotate;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.features__content--item:hover i,
.features__content--item:hover h3,
.features__content--item:hover p {
  color: #fff;
}

/* end features */

/* Start portfolio */

.portfolio__title {
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__content--item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.portfolio__content--item:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__content--item:hover:before {
  left: 125%;
}

.portfolio__content--item:first-child {
  grid-column: 1/ 3;
}
.portfolio__content--item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2/ 4;
}
.portfolio__content--item:nth-child(6) {
  grid-column: 1 / 3;
}

.portfolio__item--overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.portfolio__item--overplay:hover .overplay__icon {
  opacity: 1;
  top: 10px;
  right: 10px;
}
.portfolio__item--overplay:hover .overplay__text {
  opacity: 1;
  bottom: 20px;
  left: 20px;
}

.overplay__icon {
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient--right);
  background-size: 200%;
  background-position: left;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.overplay__icon i {
  color: #fff;
}

.overplay__text {
  position: absolute;
  bottom: -80px;
  left: 20px;
  transition: 0.3s;
}

.overplay__text h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}

.overplay__text span {
  color: #fff;
  opacity: 0.7;
}

/* end portfolio */

/* start plan */

.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}

.plan__title {
  text-align: center;
  margin: 50px 0;
}

.plan__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plan__content--item {
  width: 380px;
  height: 665px;
  padding: 50px 60px 30px;
  border-radius: 10px;
  border: 3px solid transparent;
  border-image: 100 round;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  background-color: #fff;
}

.plan__content--item:hover {
  content: "";
  border-image: url(../img/br.png) 1 round;
}

.plan__item--title {
  font-weight: 700;
  font-size: 32px;
  color: var(--primary__color);
}
.plan__content--item img {
  width: 125px;
  height: 125px;
}
.plan__item--price {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary__color);
}
.plan__item--price span {
  font-weight: 800;
  font-size: 50px;
  color: #f8ae56;
}

.plan__menu {
  width: 100%;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid #636363;
}
.plan__menu--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}
.menu__item--icon {
  width: 26px;
  height: 26px;
  background-color: #feeff3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.menu__item--icon i {
  font-size: 12px;
  color: var(--sercondary__color);
}

/* end Plan */

/* start testimonial */
.testimonial {
  background-image: url(../img/bg17.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial__thumbs {
  width: 500px;
  height: 300px;
  margin: 10px auto;
  padding-top: 30px;
  overflow: hidden;
}
.testimonial__avt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonial__avt img {
  width: 120px;
  height: 120px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__avt {
  transform: translateY(-20px);
}
.swiper-slide-thumb-active .testimonial__avt::before {
  content: "";
  display: block;
}
.swiper-slide-thumb-active .testimonial__avt::after {
  content: "";
  display: block;
}
.testimonial__avt::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  top: 150px;
  display: none;
}
.testimonial__avt::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 50px 0 0;
  background-color: #f55f8d;
  position: absolute;
  top: 140px;
  display: none;
}

.testimonial__comments {
  width: 100%;
  height: auto;
  padding: 40px 0;
  overflow: hidden;
}
.testimonial__item {
  width: 776px;
  height: 240px;
  box-shadow: var(--box-shadow);
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  padding: 20px 30px 10px;
  margin: 0 auto;
}
.testimonial__item i {
  position: absolute;
  font-size: 70px;
  color: var(--sercondary__color);
  top: 20px;
  left: 30px;
}

.testimonial__item--title {
  margin-bottom: 30px;
}

.testimonial__item--title h3 {
  font-size: 22px;
  font-weight: 800;
  color: var(--primary__color);
}
.testimonial__item--title span {
  color: var(--sercondary__color);
  font-weight: 400;
  font-style: italic;
}
/* end testimonial */

/* start Blog */
.blog {
  background-image: url(../img/bg16.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog__content--item {
  /* border: 1px solid #636363; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.blog__content--item {
  width: 380px;
  height: 480px;
  background-color: rgba(245, 95, 141, 0.1);
  /* box-shadow: var(--box-shadow); */
  margin: 30px auto;
  cursor: pointer;
}
.blog__wrapper {
  padding: 0 10px;
}
.blog__img {
  position: relative;
  width: 100%;
  height: 220px;
}
.blog__img img {
  object-fit: cover;
  border-radius: 10px;
  /* border-bottom-right-radius: 10px; */
}
.blog__img p {
  /* width: 300px; */
  display: inline-block;
  background-image: var(--gradient--right);
  background-position: left;
  background-size: 200%;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  left: 20px;
  color: #fff;
  font-weight: 500;
}
.blog__body {
  padding: 25px 10px;
}
.blog__body--title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary__color);
}

.blog__body--footer {
  display: flex;
  padding: 15px 15px;
  border-top: 1px solid #636363;
  text-transform: uppercase;
}
.blog__body--footer p {
  margin-right: 20px;
}
.blog__body--footer p span {
  color: var(--sercondary__color);
}
.blog__body--footer i {
  color: var(--sercondary__color);
  margin-right: 5px;
  font-size: 20px;
}

.blog__swiper {
  width: 100%;
  overflow: hidden;
}
/* end blog */

/* footer */
footer {
  /* background-color: #070120; */
  color: #fff;
  position: relative;
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__subscribe {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background-color: #fff;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.footer__subscribe p {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary__color);
}

.footer__subscribe--mail {
  border-radius: 10px;
}
.footer__subscribe--mail input {
  width: 450px;
  border: 1px solid transparent;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  padding: 20px 10px;
  font-size: 18px;
  transition: 0.5s;
}

.footer__subscribe--mail input:hover {
  border-color: var(--sercondary__color);
}
.footer__subscribe--mail button {
  width: 100px;
  font-size: 18px;
  padding: 21px 0;
  background-image: var(--gradient--right);
  background-size: 200%;
  background-position: left;
  border-radius: 0 10px 10px 0;
  color: #fff;
  transform: translateX(-5px);
  transition: 0.3s;
}
.footer__subscribe--mail button:hover {
  background-position: right;
}

.footer__subscribe--mail button:hover i {
  animation-name: sendMail;
  animation-duration: 0.5s;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 40px;
}

.footer__col--header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.footer__col--header::before {
  content: "";
  width: 20px;
  height: 5px;
  background-image: var(--gradient--right);
  background-position: left;
  background-size: 200%;
  position: absolute;
  bottom: 10px;
}
.footer__col--header::after {
  content: "";
  width: 60px;
  height: 5px;
  background-image: var(--gradient--right);
  background-position: left;
  background-size: 200%;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.footer__col--text {
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
}
.footer__col--text i {
  font-size: 20px;
  line-height: 20px;
  padding: 15px;
  background-image: var(--gradient--right);
  border-radius: 50%;
  margin-right: 10px;
}

.footer__col--links {
  list-style: none;
}
.footer__col--link {
  margin-bottom: 15px;
}
.footer__col--link:hover a {
  color: #fff;
}
.footer__col--link a {
  color: #636363;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}
.footer__col--link a i {
  margin-right: 15px;
}
.footer__down {
  background-color: #1f343b;
}
.footer__down .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.footer__down span {
  color: var(--sercondary__color);
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer__social--item {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #636363, #636363);
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.footer__social--item:hover {
  /* content: ""; */

  background-image: var(--gradient--right);
  background-position: left;
  background-size: 200%;
  opacity: 1;
}

/* end footer */

/* backto top */
.backToTop.cd-top--is-visible {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  border-radius: 5px;
  background-color: var(--sercondary__color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.backToTop i {
  font-size: 20px;
  color: #fff;
  scroll-behavior: smooth;
}
/*  */

@keyframes itemMenu {
  0% {
    transform: translateY(0px);
  }
  49% {
    transform: translateY(100%);
    /* opacity: 0; */
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes sendMail {
  0% {
    transform: translateX(0px);
  }
  49% {
    transform: translateX(200%);
    /* opacity: 0; */
  }
  50% {
    transform: translateX(-200%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* mobile: w < 740px */
@media only screen and (max-width: 46.1875em) {
  .header__right {
    display: none;
  }
}
/* tablet: w > 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}
